<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EverReady :: 404</title>
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/custom.min.css}" href="../../css/custom.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body class="login">


	<div class="centerDiv">

		<div class="loginDiv">

			<p class="loginLogo">
				<img th:src="@{/images/logo.png}" alt="TGS" title="TGS" />
			</p>

			<p class="SecondarySale">Secondary Sales Target System</p>

			
			404

			<div class="loginfooter">© 2019 Coderlook</div>




		</div>

	</div>






</body>
</html>