<div class="row" th:fragment="unlockFor">
	<div class="col-md-3">
		<div class="form-group">
			<label>Unlock For:</label>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<div>
				BM &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" data-toggle="toggle" data-offstyle="success" data-onstyle="danger" data-off="<i class='fa fa-unlock'></i>&nbsp;&nbsp;Unlock" data-on="<i class='fa fa-lock'></i>&nbsp;&nbsp;Lock">	
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<div>
				ASM&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" data-toggle="toggle" data-offstyle="success" data-onstyle="danger" data-off="<i class='fa fa-unlock'></i>&nbsp;&nbsp;Unlock" data-on="<i class='fa fa-lock'></i>&nbsp;&nbsp;Lock">
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<div>
				SO&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" data-toggle="toggle" data-offstyle="success" data-onstyle="danger" data-off="<i class='fa fa-unlock'></i>&nbsp;&nbsp;Unlock" data-on="<i class='fa fa-lock'></i>&nbsp;&nbsp;Lock">
			</div>
		</div>
	</div>

</div>