<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:insert="secure-pages/fragments/header :: html-header-data-table">

</head>

<body>

	<div class="modal" id="changeModel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-white bg-danger">
					<h5 class="modal-title">Change Destination</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"><i class="fa fas-bar fa-times"></i></span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label for="Select LOB">Select LOB</label> <select class="form-control" id="lobDropdown">
							<option label="Select LOB" value=""></option>
							<option th:each="lob : ${lobList}" th:value="${lob.lob.costSectionCode}" th:utext="${lob.lob.description}"></option>
						</select>
					</div>
				</div>

				<div class="modal-body" th:if="${type.equals('BM')}">
					<div class="form-group">
						<label for="Select ASM Zone">Select ASM Zone</label> <select class="form-control" id="asmDorpdown">
							<option label="Select ASM Zone" value=""></option>
							<option th:each="asmZone : ${asmZones}" th:value="${asmZone.asmZone.code}" th:utext="${asmZone.asmZone.name}"></option>
						</select>
					</div>
				</div>

				<div class="modal-body" th:if="${type == 'BM' || type == 'ASM'}">
					<div class="form-group">
						<label for="Select Territory">Select Territory</label> <select class="form-control" id="terDorpdown">
							<option label="Select Territory" value=""></option>
							<option th:each="territory : ${terList}" th:value="${territory.territory.code}" th:utext="${territory.territory.name}"></option>
						</select>
					</div>
				</div>


				<div class="modal-footer">

					<button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger confirmVal" id="submit-change">Submit</button>

				</div>
			</div>
		</div>
	</div>

	<div class="wrapper">

		<!-- page header  -->
		<div class="container-fluid topRow" th:insert="secure-pages/fragments/header :: page-header"></div>

		<div class="container-fluid">
			<div class="row">

				<!-- Side bar  -->
				<nav id="sidebar" th:insert="secure-pages/fragments/sidebar :: left-sidebar"></nav>

				<!-- Page Content  -->
				<div id="content" class="content">

					<!-- breadCrumb -->
					<div class="breadcrumb-row" th:insert="secure-pages/fragments/breadcrumbs :: breadcrumb"></div>

					<div class="container-fluid common-information-area">

						<div class="col-sm-12 sst-target-details" th:insert="secure-pages/fragments/sst-target-details :: top-pannel"></div>

						<table id="so-dist-table"  class="stripe row-border order-column">
							<thead>
								<tr class="table-primary">
									<th>Dist Code</th>
									<th>Distributer Name</th>
									<th>SST Vol System</th>
									<th>SST Value System</th>
									<th>SST Rate System</th>
									<th>SST Vol Modified</th>
									<!-- <th>SST Rate Modified</th> -->
									<th>SST Value Modified</th>
									<th>Action</th>
									<th style="display: none;">Distributor Status</th>

								</tr>
							</thead>

							<tbody>
								<tr th:each="distributor : ${distributorList}" th:classappend="${distributor.distributorStatus}=='inactive' ? inactive-record : active-record">
									<td th:text="${distributor.distributor.code}"></td>
									<td th:text="${distributor.distributor.name}"></td>

									<td class="dt-body-right" th:text="${#numbers.formatDecimal(distributor.sstVol, 0, 'COMMA', 0, 'POINT')}"></td>
									<td class="dt-body-right" th:text="${#numbers.formatDecimal(distributor.sstValue, 0, 'COMMA', 2, 'POINT')}"></td>
									<td class="dt-body-right" th:text="${#numbers.formatDecimal(distributor.sstRate, 0, 'COMMA', 2, 'POINT')}"></td>
									<td class="dt-body-right" th:text="${#numbers.formatDecimal(distributor.sstModVol, 0, 'COMMA', 0, 'POINT')}"></td>
									<!-- <td th:text="${#numbers.formatDecimal(distributor.sstModRate, 0, 'COMMA', 2, 'POINT')}"></td> -->
									<td class="dt-body-right" th:text="${#numbers.formatDecimal(distributor.sstModValue, 0, 'COMMA', 2, 'POINT')}"></td>
									<!-- <td class="dt-body-right" th:text="${#numbers.formatDecimal(distributor.sstRate * distributor.sstModVol, 0, 'COMMA', 2, 'POINT')}"></td> -->

									<td><a th:href="@{${startUrl} + '/distributor/' + ${distributor.distributor.code}}" class="icon-edit"> <i class="fa fas-bar fa-folder-open-o fa2"></i>
									</a></td>
									<td style="display: none;" th:text="${distributor.distributorStatus}"></td>
								</tr>

							</tbody>
						</table>

					</div>
					<!-- .container-fluid ends -->

					<div class="col-md-12 text-right" style="margin-top: 20px;">
						<a class="btn btn-info" id="change-button" data-toggle="modal" data-target="#changeDestination" style="color: #fff;"><i class="fa fas-bar fa-search fa2"></i> Change Location</a>
						<a class="btn btn-back" th:href="@{${backUrl}}">Back</a>
						<button th:if="${showConfirmAll and adjusted}" type="submit" class="btn btn-success" onclick="confAllTergetVol()">Confirm All</button>
						<!-- <a class="btn btn-download" th:href="@{/report/target/excel/}+${type}">Download Total Target</a> -->
					</div>
					<div class="footer">&copy; 2019 TGS Industries India Ltd. All Rights Reserved.</div>

				</div>

			</div>

		</div>

	</div>

	<span th:insert="secure-pages/fragments/footer :: page-scripts"></span>
	<span th:insert="secure-pages/fragments/footer ::datatable-scripts"></span>
	<span th:insert="secure-pages/fragments/footer ::chnage-loc-scripts"></span>
	<script type="text/javascript">
		$(document).ready(

		function() {

			// for datatable
			$('#so-dist-table').DataTable({
				dom: 'flBrtip',
				buttons: [{
	                extend: 'excelHtml5',
	                text:   '<i class="fa fa-file-excel-o"></i>',
	                exportOptions: {
	                    columns: [0,1,2,3,4,5,6,8]
	                }
	            }],
				"paging" : true,
				"ordering" : true,
				"info" : true/* ,
												"scrollX" : true */,
				"oLanguage" : {
					"sSearch" : "Filter Result:"
				}
			});

			$('#change-button').on('click', function() {

			});

			// lob change
			$('#lobDropdown').on('change', function() {
				if (this.value != null) {
					var type = '[[${type}]]';
					if (type == "BM") {
						$('#asmDorpdown').empty();
						$('#asmDorpdown').append($("<option label='Select ASM Zone' value=''></option>"));

						getAsmZoneList(this.value);
					} else if (type == "ASM") {
						$('#terDorpdown').empty();
						$('#terDorpdown').append($("<option label='Select Territory' value=''></option>"));
						getTerritoryListByLobId(this.value);
					}

				}
			});

			// asm change
			$('#asmDorpdown').on('change', function() {
				if (this.value != null) {

					var lobId = $('#lobDropdown').val();

					$('#terDorpdown').empty();
					$('#terDorpdown').append($("<option label='Select Territory' value=''></option>"));

					getTerritoryListByAsmIdAndLob(lobId, this.value);
				}
			});

			// for asm dropdown
			function getAsmZoneList(lobId) {

				alert('[[${type}]]' + ": " + lobId);

				$.ajax({
					type : 'GET',
					url : '[[@{/bm/rest/api/asm?lobId=}]]' + lobId,
					dataType : 'json',
					success : function(data) {
						$('#asmDorpdown').empty();
						$('#asmDorpdown').append($("<option label='Select ASM Zone' value=''></option>"));
						asmZones = data;
						$.each(asmZones, function() {
							$('#asmDorpdown').append($("<option></option>").text(this.asmZone.name).val(this.asmZone.code));

						});
					}
				});
			}
			function getTerritoryListByAsmIdAndLob(lobId, asmCode) {

				alert(lobId + " : " + asmCode);

				$.ajax({
					type : 'GET',
					url : '[[@{/bm/rest/api/territory?lobId=}]]' + lobId + '&asmCode=' + asmCode,
					dataType : 'json',
					success : function(data) {
						$('#terDorpdown').empty();
						$('#terDorpdown').append($("<option label='Select Territory' value=''></option>"));
						terList = data;
						$.each(terList, function() {
							$('#terDorpdown').append($("<option></option>").text(this.territory.name).val(this.territory.code));

						});
					}
				});

			}

			function getTerritoryListByLobId(lobId) {

				alert('[[${type}]]' + ": " + lobId);

				$.ajax({
					type : 'GET',
					url : '[[@{/asm/rest/api/territory?lobId=}]]' + lobId,
					dataType : 'json',
					success : function(data) {
						$('#terDorpdown').empty();
						$('#terDorpdown').append($("<option label='Select Territory' value=''></option>"));
						terList = data;
						$.each(terList, function() {
							$('#terDorpdown').append($("<option></option>").text(this.territory.name).val(this.territory.code));

						});
					}
				});
			}
			
			
		});
		function confAllTergetVol() {
			// PREPARE DATA
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var jsonParams = {};
			jsonParams['geoLoc'] = '[[${territory.code}]]';
			jsonParams['costSectionCode'] = '[[${lob.costSectionCode}]]';

			$.ajax({
				type : 'POST',
				url : '[[@{/rest/api/territory/confirm-all-target}]]',
				contentType : 'application/json',
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
				},
				data : JSON.stringify(jsonParams),
				success : function(result) {

					$.alert({
						title : 'Success',
						content : 'Update Successfully!',
						type : 'green',
						typeAnimated : true,
						buttons : {
							ok : {
								text : 'OK',
								btnClass : 'btn-green',
								action : function() {
									location.reload();
								}
							}
						}
					});
					console.log(result);
				},
				error : function(e) {
					$.alert({
						title : 'Error',
						content : 'Update Failed!',
						type : 'red',
						typeAnimated : true,
						buttons : {
							ok : {
								text : 'OK',
								btnClass : 'btn-red',
								action : function() {
									location.reload();
								}
							}
						}
					});
					console.log("ERROR: ", e);
				}
			});
		}
	</script>

</body>
</html>
