<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en" th:insert="secure-pages/fragments/header :: html-header"></head>
<body>
	<div class="wrapper">

		<!-- page header  -->
		<div class="container-fluid topRow" th:insert="secure-pages/fragments/header :: page-header"></div>

		<div class="container-fluid">
			<div class="row">
				<!-- Side bar  -->
				<nav id="sidebar" th:insert="secure-pages/fragments/sidebar :: left-sidebar"></nav>

				<!-- Page Content  -->
				<div id="content" class="content">

					<!-- breadCrumb -->
					<div class="breadcrumb-row" th:insert="secure-pages/fragments/breadcrumbs :: breadcrumb"></div>

					<div class="container-fluid common-user-form">
					<div th:switch="${alertType}"> 
							<div th:case="Success" class="alert alert-success">
							  <strong th:text="${message}" ></strong>
							</div>
							<div th:case="Failed" class="alert alert-danger">
							  <strong th:text="${message}" ></strong>
							</div>
					</div>
						<form class="chnagePasswordForm" action="#" th:action="@{change-password}" th:object="${changePassword}" method="post">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="form-group">
										<label for="oldPassword">Old Password *</label> <input type="password" class="form-control" id="oldPassword" placeholder="Enter Old Password" required="required" th:field="*{oldPassword}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="form-group">
										<label for="newPassWord">New Password *</label> <input type="password" class="form-control" id="newPassWord" placeholder="Enter New Password"  required="required" th:field="*{newPassword}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="form-group">
										<label for="confirmPassword">Retype New Password *</label> <input type="password" class="form-control" id="confirmPassword" required="required" placeholder="Retype New Password" th:field="*{confPassword}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="form-group">
										<input type="submit" value="Submit" class="btn btn-success" />
										<button type="button" class="btn btn-warning">Clear</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="footer">&copy; 2019 TGS Industries India Ltd. All Rights Reserved.</div>
				</div>

			</div>

		</div>


	</div>
	<span th:insert="secure-pages/fragments/footer :: page-scripts"></span>


</body>
</html>